$body-color: #ffffff;
$nav-color: beige;
$primary-color: #4169e1;
$secondary-color: hsl(180, 75%, 35%);;
$complementary-color: #CC5500;
$font-stack:Arial, Arial, Helvetica, sans-serif;
$box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
$border-bottom: solid 5px rgba(0, 0, 0, 0.3) ;
$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
$subs-background: #99D9EA;